.sitemapMasonry {
  columns: 3 150px;
  column-gap: 20px;
  margin: 10px 0px 10px;
}

.sitemapMasonry > div {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
}

.sitemapMasonry > div div {
    padding: 5px 0px;
  }

  
.sitemapMasonry > a {
  color: var(--linkColor);
}
