.sitemapMasonry {
  columns: 3 150px;
  column-gap: 20px;
  margin: 10px 0px 10px;
}

.sitemapLevel0 {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
}

.sitemapLevel1 {
  padding: 5px 0px;
}

.sitemapTitle {
  padding-bottom: 10px;
}
.sitemapTitle a {
  font-family: Poppins, sans-serif;
  color: var(--textPrimary);
  font-size: 16px;
}

.sitemapLevel1 a {
  color: var(--textSecondary);
  font-size: 15px;
}

.sitemapLevel1 a:hover {
  color: var(--linkColor);
}
