.nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--shade1);
  box-shadow: var(--topBarShadow);
}

.navContent {
  width: 100%;
  margin: 0 auto;
  padding: 0px 10px 0px 18px;
  display: flex;
}

.navLeft {
  width: 350px;
}

.navRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navRight > * {
  padding: 0px 12px;
}

.navRight a {
  display: inline-flex;
}

.logoImage {
  filter: var(--invert);
  padding: 20px 10px 0 10px;
}

.docs_tag {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  margin-top: 18px;
  color: var(--primary);
}

.githubLogo {
  filter: var(--uninvert);
  height: 25px;
  padding: 0;
}

.links {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.links > * {
  margin-right: 20px;
}
