.nav {
  height: 60px;
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1000;
  border-bottom: 1px solid #e9e9e9;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(17, 17, 17, 0.07);
}

.navContent {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.navLeft {
  flex-grow: 1;
}

.navRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navRight > * {
  padding: 0px 12px;
}

.navRight a {
  display: inline-flex;
}

.logoImage {
  padding: 20px 10px 0 10px !important;
  width: auto !important;
}

.docs_tag {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
  margin-top: 18px;
}

.githubLogo {
  filter: invert(100%);
  height: 25px;
  padding: 0 !important;
  width: 25px !important;
}
