.navigation {
  font-family: "Poppins";
}

.navigation ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.navigation a {
  color: var(--textSecondary);
}

.navigation ul:not(.depth0) {
  padding-left: 16px;
}

.navigation li {
  padding: 8px 8px;
  border-radius: 8px;
}

.navigation li.depth0 {
  font-weight: bold;
}

.navigation li.depth2 {
  color: var(--textSecondary);
}

.navigation li.depth1.hasChildren {
  font-weight: bold;
}

.navigation li.active, .navigation li.active a {
  font-weight: bold;
  color: var(--linkColor);
}

.navigation .title {
  display: flex;
  align-items: center;
}

.navigation .icon {
  width: 40px;
  flex-shrink: 0;
  justify-content: center;
  display: inline-flex;
  color: var(--primarySubtle);
}

.navigation .active .icon {
  color: var(--primary);
}
