.navigation {
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
}

li.level0 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
}

li.level1 {
  text-transform: uppercase;
  margin-top: 10px;
}
