.hit {
  padding: 5px 7px;
  line-height: 20px;
  cursor: pointer;
}

.hitActive {
  composes: hit;
  background-color: #f6f6f6;
}

.hitHierarchy {
  font-weight: bold;
  color: #2f419b;
}

.hitContent {
  padding: 5px 0px;
}

.omnibar {
  width: 700px;
  max-width: 100vw;
  left: calc(50% - 350px);
}

.searchBlock {
  color: #6c6c6c;
  font-weight: normal;
  text-transform: none;
  font-size: 15px;
}

@media (max-width: 700px) {
  .omnibar {
    width: 100vw;
    left: 0;
  }
}
