test --test_output=errors --action_env="GTEST_COLOR=1"
build --noincompatible_disallow_old_style_args_add

# The following flags enable the remote cache so action results can be shared
# across machines, developers, and workspaces.
build:remote-cache --remote_cache=grpcs://remotebuildexecution.googleapis.com
build:remote-cache --remote_timeout=3600
build:remote-cache --auth_enabled=true


# Set up remote cache rules to use our RBE instance.
build:remote-cache --remote_instance_name=projects/tada-analytics/instances/default_instance
