# Passes an argument `--skipLibCheck` to *every* spawn of tsc
# Bazel 6.4 or greater: 'common' means 'any command that supports this flag'
common --@aspect_rules_ts//ts:skipLibCheck=always

build --test_output=errors --action_env="GTEST_COLOR=1"

build --incompatible_py3_is_default=false

# This is an optimisation we used to have to speed up open source development. If open source
# development is too slow, consider setting it back up, so that build results can be shared across
# machines, developers, and workspaces.
# build:remote-cache --remote_cache=grpcs://remotebuildexecution.googleapis.com
# build:remote-cache --remote_instance_name=projects/dataform-open-source/instances/dataform-co
# build:remote-cache --remote_timeout=3600
# build:remote-cache --auth_enabled=true
# build:remote-cache --google_default_credentials=true
