build --test_output=errors --action_env="GTEST_COLOR=1"

# TODO: Fix all the underlying issues here.
build --incompatible_disable_deprecated_attr_params=false
build --incompatible_py3_is_default=false

query --incompatible_disable_deprecated_attr_params=false

# The following flags enable the remote cache so action results can be shared
# across machines, developers, and workspaces.
build:remote-cache --remote_cache=grpcs://buildfarm.corp.dataform.co
build:remote-cache --remote_timeout=3600
build:remote-cache --auth_enabled=true
build:remote-cache --google_default_credentials=true
