node_modules/

bazel-*

.idea/
.vscode/
.history/

bazel-*

# TODO: Remove these.

build/
!!build/package.json
ts/protos/index.*
api/package-lock.json
cli/package-lock.json
core/package-lock.json
protos/package-lock.json
lerna-debug.log

**/.DS_Store

**/*.orig 