@value colorsTextMain: #343434;
@value colorsButtonBlue: #5e73e5;
@value colorsButtonGreen: #00C37D;

:global body .bp3-button {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #5e73e5;
  padding: 8px 24px;
  height: 40px;
  margin-top: -8px;
  border: none;
  box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
  border-radius: 4px !important;
  background-image: unset !important;
}

:global body .bp3-button * {
  color: #fff;
  font-size: 12px;
}

:global body .bp3-button.bp3-intent-primary {
  background-color: colorsButtonBlue;
}

:global body .bp3-button.bp3-intent-primary:hover {
  background-color: colorsButtonBlue;
}

:global body .bp3-button.bp3-intent-success {
  background-color: colorsButtonGreen;
}

:global body .bp3-button.bp3-intent-success:hover {
  background-color: colorsButtonGreen;
}

:global body .bp3-input {
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}

:global * {
  font-family: "Open Sans";
  color: colorsTextMain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global body input {
  font-family: "Open Sans";
  color: colorsTextMain;
  font-size: 16px;
}

:global a {
  text-decoration: none !important;
  color: #5e73e5;
}

:global body h1 {
  color: colorsTextMain;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 58px !important;
  font-size: 31px !important;
  margin: 0px !important;
  color: #2f2d44;
}

:global body h2 {
  color: colorsTextMain;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 22px !important;
  font-size: 22px !important;
  color: #2f2d44;
  margin-top: 60px !important;
  padding-top: 60px !important;
  border-top: 1px solid #e9e9e9;
}

:global body h3 {
  color: colorsTextMain;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 46px !important;
  font-size: 20px !important;
  margin: 0px !important;
  color: #2f2d44;
}

:global body h4 {
  color: colorsTextMain;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 36px !important;
  font-size: 17px !important;
  margin: 0px !important;
  color: #2f2d44;
}

:global body p {
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  font-size: 15px;
  color: #373e42;
}
:global body li {
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  font-size: 15px;
  color: #373e42;
}

:global body h1 > code,
:global body h2 > code,
:global body h3 > code,
:global body h4 > code {
  color: inherit;
  font-weight: 500;
}

.root {
}

.sectionBreaker {
  margin: 30px 0px;
  width: 80%;
  border: 1px solid #e9e9e9;
  height: 0px;
  margin: 20px auto 20px;
}

:global body pre.highlight {
  margin: 0px;
}

:global body pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 15px 0px 5px;
  background: none;
}

:global body pre > code {
  padding: 15px !important;
}

:global body p > code,
:global body li > code {
  color: #2f2d44;
}

:global body pre > code,
:global body pre > code * {
  border-radius: 3px;
  color: inherit;
  font-family: Roboto Mono, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 15px;
  margin: 0;
}
