/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.root {}

:global .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

:global .hljs-comment,
:global .hljs-quote {
  color: #5c6370;
  font-style: italic;
}

:global .hljs-doctag,
:global .hljs-keyword,
:global .hljs-formula {
  color: #c678dd;
}

:global .hljs-section,
:global .hljs-name,
:global .hljs-selector-tag,
:global .hljs-deletion,
:global .hljs-subst {
  color: #e06c75;
}

:global .hljs-literal {
  color: #56b6c2;
}

:global .hljs-string,
:global .hljs-regexp,
:global .hljs-addition,
:global .hljs-attribute,
:global .hljs-meta-string {
  color: #98c379;
}

:global .hljs-built_in,
:global .hljs-class :global .hljs-title {
  color: #e6c07b;
}

:global .hljs-attr,
:global .hljs-variable,
:global .hljs-template-variable,
:global .hljs-type,
:global .hljs-selector-class,
:global .hljs-selector-attr,
:global .hljs-selector-pseudo,
:global .hljs-number {
  color: #d19a66;
}

:global .hljs-symbol,
:global .hljs-bullet,
:global .hljs-link,
:global .hljs-meta,
:global .hljs-selector-id,
:global .hljs-title {
  color: #61aeee;
}

:global .hljs-emphasis {
  font-style: italic;
}

:global .hljs-strong {
  font-weight: bold;
}

:global .hljs-link {
  text-decoration: underline;
}
