/**
 * Darcula theme
 *
 * Adapted from a theme based on:
 * IntelliJ Darcula Theme (https://github.com/bulenkov/Darcula)
 *
 * @author Alexandre Paradis <service.paradis@gmail.com>
 * @version 1.0
 */

.root {
}

:global code[class*="language-"],
:global pre[class*="language-"] {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.6;
  font-size: 14px;

  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  background-color: #f6f8fa;
  border-radius: 3px;
}

:global pre[class*="language-"]::-moz-selection,
:global pre[class*="language-"] ::-moz-selection,
:global code[class*="language-"]::-moz-selection,
:global code[class*="language-"] ::-moz-selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85);
}

:global pre[class*="language-"]::selection,
:global pre[class*="language-"] ::selection,
:global code[class*="language-"]::selection,
:global code[class*="language-"] ::selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85);
}

/* :global code blocks */
:global pre[class*="language-"] {
  padding: 1em;
  margin: 15px 0px;
  overflow: auto;
}

:global :not(pre) > code {
  background: #f6f8fa;
  padding: 3px 5px;
  font-size: 14px;
  border-radius: 3px;
}

:global :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

:global .token.comment,
:global .token.prolog,
:global .token.cdata {
  color: #008855;
}

:global .token.delimiter,
:global .token.boolean,
:global .token.keyword,
:global .token.selector,
:global .token.important,
:global .token.atrule {
  color: #7b2a90;
}

:global .token.operator,
:global .token.punctuation,
:global .token.attr-name {
}

:global .token.tag,
:global .token.tag .punctuation,
:global .token.doctype,
:global .token.builtin {
  color: #3f81b3;
}

:global .token.entity,
:global .token.number,
:global .token.symbol {
  color: #c56c1b;
}

:global .token.property,
:global .token.constant,
:global .token.variable {
  color: #005cc5;
}

:global .token.string,
:global .token.char {
  color: #aa1111;
}

:global .token.attr-value,
:global .token.attr-value .punctuation {
}
:global .token.attr-value .punctuation:first-child {
}

:global .token.url {
  color: #008855;
  text-decoration: underline;
}

:global .token.function {
  color: #6f42c1;
}

:global .token.regex {
  background: #008855;
}

:global .token.bold {
  font-weight: bold;
}

:global .token.italic {
  font-style: italic;
}

:global .token.inserted {
  background: #294436;
}

:global .token.deleted {
  background: #484a4a;
}
