.cardContainer {
  display: flex;
  overflow: auto;
  max-width: 100%;
  border-radius: 5px;
  padding: 0;
  &:not(.minimal) {
    background-color: var(--shade1);
    box-shadow: var(--cardShadow);
  }
  &.headerless {
    padding-top: 20px;
  }
  word-wrap: break-word;
}

.cardActions {
  display: flex;

  > *:not(:first-child) {
    margin-left: 10px;
  }

  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
}

.cardActionsSpacer {
  flex-grow: 1;
}

.cardHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;

  h2,
  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
}

.cardMainContainer {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.cardSecondaryActionsContainer {
  display: flex;
}

.cardContentContainer {
  > *:not(.cardMedia) {
    margin-bottom: 10px;
  }

  > *:not(.cardMedia):not(:first-child) {
    margin-top: 10px;
  }

  > *:not(.cardMedia):first-child {
    margin-top: 0;
  }

  .cardActions {
    margin-top: 20px !important;
  }

  padding: 0px 20px 12px;
}

.fullWithCardContentContainer {
  padding: 0px;
}

.cardGrid {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin: 20px;
}

.cardList > * {
  margin-bottom: 20px;
}
