.errorPageContainer {
  background-color: var(--shade0);
  height: 100%;
  width: 100%;
}

.errorPageCard {
  margin-top: 10px;
}

.errorComponentWrapper {
  margin: 10px;
}

.errorButton {
  margin-left: 5px;
}

.errorTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactUsLink {
  color: inherit;
  text-decoration: underline;
}

.contactUsLink:hover {
  text-decoration: none;
  color: inherit;
}

.content_centered {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
