.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
  .item.fill {
    min-width: 0px;
  }
}

.flex.column {
  flex-direction: column;
  .item.fill {
    min-height: 0px;
  }
}

.flex .item.fill {
  flex-grow: 1;
}
