.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listCondensed .listItem {
}

.listItem {
  padding: 14px 2px;
  display: flex;
  border-bottom: var(--border);
  align-items: center;
  flex-direction: row;

  > :not(:last-child) {
    margin-right: 10px;
  }
}

.list:not(.listCondensed) .listItem {
  min-height: 60px;
}

.listItem:last-of-type {
  border-bottom: none;
}

a .listItem:hover {
  background-color: var(--nonehover);
}

.listItemFill {
  flex-grow: 1;
  flex-shrink: 1;
}

.listItemDisabled,
.listItemDisabled:hover {
  color: var(--warning);
}

a .listItem {
  color: var(--textPrimary);
}

a .listItem:hover {
  color: var(--textPrimary);
  text-decoration: none;
}

.verticalListItemFlex {
  display: flex;
  flex-direction: column;
}
