.table {
  width: 100%;
  table-layout: fixed;
}

.tableHeader {
  border-bottom: 0;
  background-color: var(--shade1);
}

.tableRowLink {
  display: table-row;
  text-decoration: none;
}

.tableRowLink:hover {
  text-decoration: none;
  background-color: var(--shade2);
}

.tableCell {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
