.container {
  padding: 60px 20px 0px;
  margin: 0px auto;
}

.container h1,
.container h3,
.container h4,
.container > p {
  padding: 15px 0px;
}

/* This makes sure that the on this page anchors scroll correctly */
.container h2 {
  padding-top: 130px;
  margin-top: -100px;
}

.leftBackground {
  position: fixed;
  width: 50vw;
  height: 100vh;
  background-color: #F6F8FA;
  z-index: -1;
}
