.container {
  padding: 60px 10px 0px;
  margin: 0px auto;
}

.container h1,
.container h3,
.container h4,
.container > p {
  padding: 15px 0px;
}

/* This makes sure that the on this page anchors scroll correctly */
.container h2 {
  padding-top: 130px;
  margin-top: -100px;
}

.leftBackground {
  position: fixed;
  width: 50vw;
  height: 100vh;
  background-color: #f6f8fa;
  z-index: -1;
}

:global .numberTitle {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: var(--primary);
  color: white;
  text-align: center;
  font-weight: 600;
}

:not(pre) > code {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #f6f8fa;
  padding: 0px 3px;
  display: inline-block;
  margin: 0px;
}
