.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  min-width: 360px;
  max-width: 360px;
  height: calc(100vh - 60px);
  overflow-y: hidden;
  position: sticky;
  top: 60px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.flexFiller {
  flex-grow: 1;
}

.darkMode {
  padding: 15px;
}

.sidebarRight {
  composes: sidebar;
  min-width: 250px;
  text-align: right;
  background-color: var(--shade0);
}

@media (max-width: 1300px) {
  .sidebarRight {
    display: none;
  }
}

.sidebar:hover {
  overflow-y: auto;
}

.mainContent {
  border-left: var(--border);
  padding-left: 30px;
  padding-top: 30px;
  flex-grow: 1;
  min-width: 500px;
  padding-bottom: 300px;
  background-color: var(--shade0);
}

.mainContent img {
  width: 100%;
  padding: 0.6rem;
}

.titleBlock {
  align-items: center;
}

.titleBlock h1 {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.titleRight {
  padding-top: 30px;
}

.subheader {
  color: var(--textSecondary);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

figcaption {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.cardGridContent {
  display: flex;
  flex-direction: column;
}

.cardGridContentSpacer {
  flex-grow: 1;
}
