.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  min-width: 360px;
  max-width: 360px;
  height: calc(100vh - 60px);
  overflow-y: hidden;
  position: sticky;
  top: 60px;
  padding-right: 10px;
}

.sidebarRight {
  composes: sidebar;
  min-width: 250px;
  text-align: right;
}

@media (max-width: 1300px) {
  .sidebarRight {
    display: none;
  }
}

.sidebar:hover {
  overflow-y: auto;
}

.mainContent {
  border-left: 1px solid rgba(120, 134, 156, 0.2);
  padding-left: 30px;
  padding-top: 30px;
  background-color: #fff;
  flex-grow: 1;
  border-left: 1px solid #e9e9e9;
  min-width: 500px;
  padding-bottom: 800px;
}

.mainContent img {
  width: 100%;
  padding: 0.6rem;
}

.titleBlock {
  align-items: center;
}

.titleBlock h1 {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.titleRight {
  padding-top: 30px;
}

.subheader {
  color: #6c6c6c;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

em {
  display: block;
  text-align: center;
  font-size: 14px;
}
