.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.sidebar {
  width: 320px;
  height: calc(100vh - 60px);
  overflow-y: hidden;
  position: sticky;
  top: 60px;
  padding-top: 48px;
  padding-right: 10px;
}

.sidebar:hover {
  overflow-y: auto;
}

.mainContent {
  border-left: 1px solid rgba(120,134,156,0.2);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  background-color: #fff;
  flex-grow: 1;
  border-left: 1px solid #e9e9e9;
  max-width: 800px;
  padding-bottom: 800px;
}
