.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  width: 360px;
  flex-shrink: 0;
  height: calc(100vh - 60px);
  overflow-y: hidden;
  position: sticky;
  top: 60px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
}

.flexFiller {
  flex-grow: 1;
}

.darkMode {
  padding: 15px;
}

.sidebarRight {
  composes: sidebar;
  min-width: 250px;
  text-align: right;
  background-color: var(--shade1);
}

@media (max-width: 1300px) {
  .sidebarRight {
    display: none;
  }
}

.sidebar:hover {
  overflow-y: auto;
}

.mainContent {
  border-left: var(--border);
  flex-grow: 1;
  min-width: 500px;
  background-color: var(--shade1);
  padding: 30px 5px 300px 60px;
}

.mainContent img {
  width: 100%;
  padding: 0.6rem;
}

.titleBlock {
  align-items: center;
}

.titleBlock h1 {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.titleRight {
  padding-top: 30px;
}

.subheader {
  color: var(--textSecondary);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

:global(.dark) .whatsNextCard {
  background-color: var(--shade0);
}

.next {
  background-color: var(--shade0);
  border-radius: 5px;
  padding: 0px 30px 30px 30px;
  margin: 60px 0px 0px -30px;
}
