.pageWidth {
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
}

.content {
  background-color: #FFF;
  margin-bottom: 500px;
}

.flexContainer_column {
  display: flex;
  flex-direction: column;
}

.flexContainer_row {
  display: flex;
  flex-direction: row;
}

.flex_grow {
  flex-grow: 1;
}

.sidebar {
  width: 280px;
  min-width: 280px;
  padding: 10px;
}

.navbar_spacer {
  height: 50px;
}

div.highlight {
  padding: 5px;
  background-color: #394b59;
  margin-bottom: 10px;
}

pre.highlight {
  margin: 0px;
  background-color: #394b59;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

p > code {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}
