.footer {
  background-color: #2f419b;
  padding-top: 120px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../../static/images/footer_illustration.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.footer * {
  color: #fff;
}

.footerContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 120px;
}

.sitemap {
  width: 100%;
}

.sitemap > * {
  display: inline-block;
  padding-right: 30px;
  vertical-align: top;
}

.sitemapContent {
  display: flex;
  flex-direction: row;
}

.sitemap h4 {
  margin-bottom: 20px !important;
}

.sitemapColumn1 {
  width: 20%;
}

.sitemapColumn2 {
  width: 20%;
}

.sitemapColumn3 {
}

.sitemapColumnCta {
  width: 50%;
}

.sitemapColumnHeader {
}

.sitemapColumnLink {
}

.footerLogo {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.logo {
  /* padding: 40px 0; */
  margin-right: 52px;
}

@media (max-width: 1250px) {
  .sitemapContent {
    width: 90%;
    margin: 0 5%;
  }
  .sitemapContent {
    flex-direction: column;
  }
  .footerLogo {
    width: 90%;
  }
  .footer {
    height: unset;
    padding-top: 40px;
  }
  .sitemapColumn1 {
    margin-bottom: 20px;
  }

  .sitemapColumn2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 1400px) {
  .ctaHeader,
  .ctaDescription,
  .ctaActions {
    margin: 0 5%;
  }
}
