* {
  -webkit-font-smoothing: antialiased;
}

div.highlight {
  padding: 10px;
  margin-bottom: 10px;
}

pre.highlight {
  margin: 0px;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

pre > code {
  padding: 15px!important;
}

p {
  line-height: 26px;
  color: #373e42;
}

p > code, li > code {
  font-weight: bold;
  color: #2f2d44;
}

code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  color: inherit;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 85%;
  margin: 0;
  padding: 3.2px 6.4px;
}

a:hover {
  text-decoration: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

h1 {
  color: #2f2d44;
  font-weight: 400;
}

h2,
h3 {
  color: #2f2d44;
  font-weight: 500;
}

h2 {
  margin-top: 39px;
  padding-top: 39px;
  border-top: 2px solid #f4f6f7;
}

h3 {
  padding-top: 25px;
}

a {
  text-decoration: underline;
}
