div.highlight {
  padding: 10px;
  margin-bottom: 10px;
}

pre.highlight {
  margin: 0px;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

p > code {
  font-weight: bold;
}

code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  color: inherit;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 85%;
  margin: 0;
  padding: 3.2px 6.4px;
}

a:hover {
  text-decoration: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
