.sidebar {
  width: 280px;
  min-width: 280px;
  padding: 10px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.flexGrow {
  flex-grow: 1;
}
