:global body {
  overflow-y: scroll !important;
  font-size: 16px;
}

:global body p,
:global body code {
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
}

:global body li {
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  color: #373e42;
}

:global body h1 > code,
:global body h2 > code,
:global body h3 > code,
:global body h4 > code {
  color: inherit;
  font-weight: 500;
}

.root {
}
