@value colorsTextMain: #343434;
@value colorsButtonBlue: #5e73e5;
@value colorsButtonGreen: #00C37D;

:global body {
  overflow-y: scroll !important;
}
:global body .bp3-button.bp3-intent-primary {
  background-color: colorsButtonBlue;
}

:global body .bp3-button.bp3-intent-primary:hover {
  background-color: colorsButtonBlue;
}

:global body .bp3-button.bp3-intent-success {
  background-color: colorsButtonGreen;
}

:global body .bp3-button.bp3-intent-success:hover {
  background-color: colorsButtonGreen;
}

:global body .bp3-input {
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}

:global body .bp3-menu {
  background-color: transparent;
}

:global body {
  font-family: "Open Sans";
  color: colorsTextMain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

:global body input {
  font-family: "Open Sans";
  color: colorsTextMain;
  font-size: 16px;
}

:global body a {
  text-decoration: none;
  color: #2f419b;
}

:global body a:hover {
  text-decoration: none;
  color: black;
}

:global body h1 {
  color: colorsTextMain;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 58px;
  font-size: 31px;
  margin: 0px;
  color: #2f2d44;
}

:global body h2 {
  color: colorsTextMain;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 22px;
  font-size: 22px;
  color: #2f2d44;
}

:global body h3 {
  color: colorsTextMain;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 46px;
  font-size: 20px;
  margin: 0px;
  color: #2f2d44;
}

:global body h4 {
  color: colorsTextMain;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 36px;
  font-size: 17px;
  margin: 0px;
  color: #2f2d44;
}

:global body h5 {
  color: colorsTextMain;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 26px;
  font-size: 14px;
  margin: 0px;
  color: #2f2d44;
}

:global body p,
:global body code {
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
}

:global body li {
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  color: #373e42;
}

:global body h1 > code,
:global body h2 > code,
:global body h3 > code,
:global body h4 > code {
  color: inherit;
  font-weight: 500;
}

.root {
}

.sectionBreaker {
  margin: 30px 0px;
  width: 80%;
  border: 1px solid #e9e9e9;
  height: 0px;
  margin: 20px auto 20px;
}
