// Blueprint3 names retained, comments after are style sheet names.
// Figma sheet: https://www.figma.com/file/xWfg99T1WrJJlNxEREOstC/Colors
$theme-shared: (
  // Primary
    "mainBlue": #2f419b,
  // Success
    "success": #0f9960,
  // Secondary B
    "warning": #d9822b,
  // Error
    "danger": #db3737,
  //Secondary C
    "highlight": #ff5881,
  "gitGreen": #2cbe4e,
  "gitOrange": #dbab09,
  "gitRed": #cb2431,
  "gitBlue": #3572b0,
  "white": #fbfbfb,
  "grey": #8c8c8c,
  "black": #050505,
  "whiteTint": #fbfbfba0,
  "successHover": #0d8050,
  "warningHover": #bf7326,
  "dangerHover": #c23030,
  "successActive": #0a6640,
  "warningActive": #a66321,
  "dangerActive": #a82a2a,
  "successDisabled": #0f996080,
  "warningDisabled": #d9822b80,
  "dangerDisabled": #db3737a0
);

$theme-light: (
  "linkColor": #2f419b,
  "primary": #2f419b,
  "primaryHover": #0a2299,
  "primaryActive": #001787,
  "primaryDisabled": #2f419b80,
  "primarySubtle": #2f419ba0,
  "textPrimary": #343434,
  "textSecondary": #6c6c6c,
  "textInvert": #fbfbfb,
  "shade0": #f4f7fa,
  "shade1": #ffffff,
  "shade2": #e8e8e8,
  "shade3": #dddddd,
  "shade4": #d1d1d1,
  "shade5": #8c8c8c,
  "shade6": #191919,
  "popUp": #ffffff,
  "popUpText": #343434,
  "none": #2f419b20,
  "noneHover": #2f419b30,
  "noneActive": #2f419b40,
  "noneDisabled": #f4f7fa,
  "noneSubtle": #20202080,
  "thickTint": #10161ab3,
  "tint": #10161a30,
  "gitGreenHighlight": #d5f2dc,
  "gitOrangeHighlight": #f8eece,
  "gitRedHighlight": #f5d3d6,
  "gitBlueHighlight": #d7e3ef
);

$theme-dark: (
  "linkColor": #5c6cbd,
  "primary": #4c5c9d,
  "primaryHover": #3b4a86,
  "primaryActive": #2d3b72,
  "primaryDisabled": #202c5a,
  "primarySubtle": #4c5c9da0,
  "textPrimary": #eeeeee,
  "textSecondary": #bcc1d6,
  "textInvert": #343434,
  "shade0": #141518,
  "shade1": #22232b,
  "shade2": #262735,
  "shade3": #2f314d,
  "shade4": #b6b6b6,
  "shade5": #f3f3f3,
  "shade6": #f9f9f9,
  "popUp": #2f314d,
  "popUpText": #fbfbfb,
  "none": #4c5c9d40,
  "noneHover": #4c5c9d55,
  "noneActive": #4c5c9d70,
  "noneDisabled": #141518,
  "noneSubtle": #80808080,
  "thickTint": #2a4c8d60,
  "tint": #10161a30,
  "gitGreenHighlight": #092610,
  "gitOrangeHighlight": #2c2202,
  "gitRedHighlight": #29070a,
  "gitBlueHighlight": #0b1723
);

.light {
  // Define a css variable for each color in the theme.
  @each $name, $color in $theme-light {
    --#{$name}: #{$color};
  }

  @each $name, $color in $theme-shared {
    --#{$name}: #{$color};
  }

  --cardShadow: 0px 2px 4px #00000024;
  --cardHoverShadow: 0px 20px 30px #0000001a;
  --topBarShadow: 0px 3px 4px -2px #00000030;
  --dialogShadow: 0px 34px 60px #00000012;
  --popUpShadow: 0px 0px 4px #00000060;

  --border: 2px solid var(--shade0);

  --invert: none;
}

.dark {
  @each $name, $color in $theme-dark {
    --#{$name}: #{$color};
  }

  @each $name, $color in $theme-shared {
    --#{$name}: #{$color};
  }

  // Shadow's have to be much darker in dark mode to be visible.
  --cardShadow: none;
  --cardHoverShadow: none;
  --topBarShadow: 0px 3px 4px -2px #000000b0;
  --dialogShadow: none;
  --popUpShadow: none;

  --border: 2px solid var(--shade2);

  --invert: invert(1);
}
